parameters:
    ignoreErrors:
        # Soapclient reflection is quite broken
        - '#Call to an undefined static method SoapClient::__construct().#'
        # This is something we hope to fix in later PHP versions
        - '#Call to an undefined method Phpro\\.*(Context|RuleSet)Interface.*$#'